.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vw;
}

.header_logo {
    font-family: 'Merienda', cursive;
    font-size: 1.5vw;
}

.header_logo .link {
    text-decoration: none;
}

.header_logo .link:visited {
    color: inherit;
}

.header_nav {
    display: flex;
}

.header_nav .nav-item {
    padding: 3vh 3vw;
    color: #c8c9d0;
    font-size: 1vw;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s color ease-in-out;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 0.1vw;
}

.header_nav .nav-item:hover,
.header_nav .nav-item.active,
.header_buttons .button:hover {
    color: #7a7b88;
}

.header_buttons {
    display: flex;
}

.header_buttons .button {
    font-size: 1.5vw;
    color: #c8c9d0;
    line-height: 0;
    transition: 0.3s color ease-in-out;
    cursor: pointer;
}

.header_buttons .button:not(:last-child) {
    margin-right: 4vw;
}
